body {
  margin: 0;
  padding: 0;
  background: #6f7278;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.container {
   margin-top: 10%;
   
  width: 400px;
  padding: 30px;
  background: rgb(32, 132, 145);
  border-radius: 12px;
}

h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #cac120;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}



button {
  width: 100%;
  padding: 12px;
  background: #cd0d16;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
}

.error {
  color: #ef4444;
  font-size: 13px;
  margin-top: 5px;
}

.success {
  color: #22c55e;
  text-align: center;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}